{% extends 'base.html' %}

{% block title %}Passwords{% endblock %}

{% block content %}

    <section class="grid-row" id="summary">
        <div class="grid-column column-half">
            <h1>Passwords</h1>
            <p>
                It’s important to have strong passwords for your important online accounts, such as your email, banking
                and social media. It’s easy to create strong, easy-to-remember passwords using the <b>three random words
                rule</b>.
            </p>
        </div>
        <div class="grid-column column-half">
            <img alt="" src="/static/images/phishing.png"/>
        </div>
    </section>

    <section class="grid-row" id="three-random-words">
        <div class="grid-column column-half">
            <img alt="" src="/static/images/password.png"/>
        </div>
        <div class="grid-column column-half">
            <h1>Three Random Words</h1>
            <p>
                The longer a password is, the harder it is for cybercriminals to crack. A good way to make a strong
                password is to combine <b>three random words</b> to create a password (for example <i>“calendargrapesmug”</i>).
                This method is recommended as it allows you to create unique, easy-to-remember passwords.
            </p>
        </div>
    </section>

    <hr>

    <section class="primary-container" id="tips">
        <div class="grid-row">
            <div class="grid-column column-full">
                <h1 class="on-primary-container">What to Avoid When Creating a Password</h1>
                <ul class="on-primary-container">
                    <li>Using common passwords, like <i>123456</i> or <i>password123</i></li>
                    <li>Using significant dates, like a birthday or anniversary</li>
                    <li>Using the names of family members or pets</li>
                    <li>Swapping characters in your password, such as swapping the letter O for a zero. This doesn’t
                        make your password significantly stronger, but it does make it harder to remember.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <hr>

    <section class="grid-row" id="complexity">
        <div class="grid-column column-full">
            <h1>Aren’t passwords supposed to be very complex?</h1>
            <p>The traditional advice has been to create complex passwords; however, the National Cyber Security Centre
                now recommend three random words instead.</p>
            <blockquote class="blockquote blockquote-tertiary"
                        cite="https://www.ncsc.gov.uk/collection/top-tips-for-staying-secure-online/three-random-words">
                Longstanding advice around making your passwords <b>very</b> complex (which suggests we should create
                passwords full of random characters, symbols and numbers) is not helpful. This is because most of us
                have <b>lots</b> of passwords, and memorising lots of complex passwords is almost impossible.
                <br>
                <br>
                Passwords generated from three random words is a good way to create unique passwords that are ‘long
                enough' and ‘strong enough’ for most purposes, but which can also be remembered much more easily. If you
                want to write your password down, that’s also OK, provided you keep it somewhere safe.
                <br>
                <cite class="blockquote-cite">
                    - National Cyber Security Centre<a href="#citations"><sup>1</sup></a>
                </cite>
            </blockquote>
        </div>
    </section>

    <hr>

    <section class="primary-container" id="quiz-link">
        <div class="grid-row">
            <div class="grid-column column-full">
                <h1>Think You Can Create a Strong Password?</h1>
                <p>
                    Test your knowledge using the interactive password tool to see if you can recognise weak passwords!
                </p>
                <br>
                <a class="button button-primary primary-solid" href="{{ url_for('passwords_quiz') }}">Test your
                    knowledge</a>
            </div>
        </div>
    </section>

    <hr>

    <footer class="citations-container" id="citations">
        <section class="grid-row">
            <div class="grid-column column-full">
                <ul class="citations-list">
                    <li>
                        <cite>1 - <a
                                href="https://www.ncsc.gov.uk/collection/top-tips-for-staying-secure-online/three-random-words"
                                target="_blank">National Cyber Security Centre</a> <span
                                class="material-symbols-outlined size-16">open_in_new</span>
                        </cite>
                    </li>
                </ul>
            </div>
        </section>
    </footer>

{% endblock %}