{% extends 'base.html' %}

{% block title %}Passwords Quiz{% endblock %}

{% block content %}

    <section class="grid-row">
        <div class="grid-column column-two-thirds">
            <h1>Test Your Knowledge on Passwords</h1>
            <p>
                Test your knowledge using the interactive password tool to see if you can recognise weak passwords!
            </p>
        </div>
        <div class="grid-column column-one-third">
            <img src="/static/images/quiz.png" alt="">
        </div>
    </section>

    <section class="grid-row">
        <form class="grid-column column-two-thirds">
            <fieldset>
                <legend>What should you avoid when creating a password?</legend>
                <div class="grid-column column-half column-no-padding">
                    <input class="checkbox" type="checkbox" id="common_phrases">
                    <label class="checkbox" for="common_phrases">Common phrases</label>
                    <br>
                    <input class="checkbox" type="checkbox" id="significant_dates">
                    <label class="checkbox" for="significant_dates">Using significant dates</label>
                    <br>
                    <input class="checkbox" type="checkbox" id="long_passwords">
                    <label class="checkbox" for="long_passwords">Using long passwords</label>
                </div>
                <div class="grid-column column-half column-no-padding">
                    <input class="checkbox" type="checkbox" id="pet_names">
                    <label class="checkbox" for="pet_names">Using pet names</label>
                    <br>
                    <input class="checkbox" type="checkbox" id="random_words">
                    <label class="checkbox" for="random_words">Using random words in passwords</label>
                </div>

                <div class="grid-column column-full column-no-padding">
                    <button class="button button-primary primary-solid" type="submit">Check Answers</button>
                </div>
            </fieldset>
        </form>
    </section>

    <section class="grid-row">
        <form class="grid-column column-two-thirds">
            <fieldset>
                <legend>Select all the weak passwords</legend>
                <div class="grid-column column-full column-no-padding">
                    <input class="checkbox" type="checkbox" id="password123">
                    <label class="checkbox" for="password123">password123</label>
                    <br>
                    <input class="checkbox" type="checkbox" id="calendargrapesmug">
                    <label class="checkbox" for="calendargrapesmug">calendargrapesmug</label>
                    <br>
                    <input class="checkbox" type="checkbox" id="123456">
                    <label class="checkbox" for="123456">123456</label>
                    <br>
                    <input class="checkbox" type="checkbox" id="bob2005">
                    <label class="checkbox" for="bob2005">bob2005</label>
                    <br>
                    <input class="checkbox" type="checkbox" id="treefolderbottle">
                    <label class="checkbox" for="treefolderbottle">treefolderbottle</label>
                </div>

                <div class="grid-column column-full column-no-padding">
                    <button class="button button-primary primary-solid" type="submit">Check Answers</button>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}