{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

    <section class="grid-row" id="summary">
        <div class="grid-column column-two-thirds">
            <h1>About this site</h1>
            <p>
                This site has been developed as part of <i>CSC3094 Major Project and Dissertation in
                Computer Science</i>.
                <br>
                All information on this site is provided at no cost and is intended for use as is.
            </p>
            <p>
                <b>If you would like to leave any feedback about this site, please follow the link below.</b>
                <br>
                All feedback is anonymous and will only be used for the duration of the project.
            </p>
            <a class="button button-primary primary-solid" href="https://forms.office.com/e/skAmf2whVB">
                Leave feedback
            </a>
            <p>
                If you have any questions about this site or this project, feel free to email <a
                    href="mailto:c1029661@ncl.ac.uk">C1029661@ncl.ac.uk</a>
            </p>
            <hr>
            <p>
                Developed by <a href="https://thomasmcknight.dev" target="_blank">Thomas McKnight</a>.
                <br>
                All images on this site are from <a href="https://pixabay.com/" target="_blank">Pixabay</a> unless
                stated otherwise.
            </p>
        </div>

        <div class="grid-column column-one-third">
            <img src="/images/question-mark.png" alt="">
        </div>
    </section>

{% endblock %}