{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

    <section class="grid-row" id="summary">
        <div class="grid-column column-two-thirds">
            <h1>About this site</h1>
            <p>
                This site has been developed as part of a research project at Newcastle University.
                <br>
                All information on this site is provided at no cost and is intended for use as is.
            </p>
            <p>
                If you would like to leave any feedback about this site, please follow the link below.
                <br>
                All feedback is anonymous and will only be used for the duration of the project.
            </p>
            <button class="button button-primary primary-solid">Leave feedback</button>
            <p>
                If you have any questions, feel free to email <a href="mailto:c1029661@ncl.ac.uk">C1029661@ncl.ac.uk</a>
            </p>
            <hr>
            <p>
                Developed by <a href="https://thomasmcknight.dev" target="_blank">Thomas McKnight</a>.
                <br>
                All images on this site are from <a href="https://pixabay.com/" target="_blank">Pixabay</a> unless
                stated otherwise.
            </p>
        </div>

        <div class="grid-column column-one-third">
            <img src="/images/question-mark.png" alt="">
        </div>
    </section>

{% endblock %}