{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

    <section class="grid-row">
        <div class="grid-column column-full">
            <h1>About this site</h1>
            <p>
                This site has been developed as part of a research project at Newcastle University. All information on
                this site is provided as is.
            </p>
            <p>
                If you would like to leave any feedback about this site, please follow the link below:
            </p>
            <button class="button button-primary">Leave feedback</button>
            <p>
                If you have any questions, feel free to email <a href="mailto:c1029661@ncl.ac.uk">C1029661@ncl.ac.uk</a>
            </p>
        </div>
    </section>

{% endblock %}