{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    {% block error %}{% endblock %}

    <section class="grid-row" id="error-details">
        <div class="grid-column column-full">
            <a class="button button-primary primary-solid" href="{{ url_for('index') }}">Return to the homepage</a>
            <br>
            <br>
            <p>
                If you continue to receive this error, please <a href="mailto:c1029661@ncl.ac.uk">report it here</a>.
            </p>
        </div>
    </section>
{% endblock %}
