{% extends 'base.html' %}

{% block title %}Phishing{% endblock %}

{% block content %}
    <section class="grid-row" id="summary">
        <div class="grid-column column-half">
            <h1>Phishing</h1>
            <p>
                Phishing is a type of scam where an attacker attempts to deceive a user into giving away personal
                information, such as passwords or bank details, using scam emails, text messages or phone calls.
            </p>
            <p>
                Phishing is one of the main methods used to commit fraud, so it's important to know how to recognise
                scam
                messages.
            </p>
            <br>
            <a class="button button-primary primary-solid" href="#information">Learn more</a>
        </div>
        <div class="grid-column column-half">
            <img alt="" src="/static/images/email.png"/>
        </div>
    </section>

    <hr>

    <section class="primary-container" id="reporting-fraud">
        <div class="grid-row">
            <div class="grid-column column-half">
                <img alt="" src="/static/images/scam.png"/>
            </div>
            <div class="grid-column column-half">
                <h1>Reporting Fraud and Scams</h1>
                <p>
                    You can report scam emails, calls, texts, and websites using the National Cyber Security Centre
                    website.
                </p>
                <p>
                    If you have been a victim of fraud, you should report it to Action Fraud using their online fraud
                    reporting tool.
                </p>
                <br>
                <a class="button button-primary primary-solid" href="https://www.actionfraud.police.uk/"
                   target="_blank">
                    Report fraud <span class="material-symbols-outlined size-20">open_in_new</span></a>
                <a class="button button-secondary secondary-solid"
                   href="https://www.ncsc.gov.uk/collection/phishing-scams/report-scam-email" target="_blank">
                    Report a scam <span class="material-symbols-outlined size-20">open_in_new</span></a>
            </div>
        </div>
    </section>

    <hr>

    <section class="grid-row" id="information">
        <div class="grid-column column-full">

        </div>
    </section>

    <section class="grid-row" id="quiz-link">
        <div class="grid-column column-full">
            <h1>Test Your Knowledge</h1>
            <p>
                See if you can spot the signs of a phishing email!
            </p>
            <br>
            <a class="button button-primary primary-solid" href="{{ url_for('page.phishing_quiz') }}">
                Test your knowledge</a>
            <br>
            <br>
        </div>
    </section>

{% endblock %}