{% extends 'base.html' %}

{% block title %}Phishing{% endblock %}

{% block content %}
    <section class="grid-row">
        <div class="grid-column column-half">
            <h1>Phishing</h1>
            <p>
                Phishing is a type of scam where an attacker attempts to deceive a user into giving away personal
                information, such as passwords or bank details, using scam emails, text messages or phone calls.
            </p>
            <p>
                Phishing is one of the main methods used to commit fraud, so it's important to know how to recognise
                scam
                messages.
            </p>
            <button class="button button-primary primary-solid">Learn more</button>
        </div>
        <div class="grid-column column-half">
            <img alt="" src="/static/images/email.png"/>
        </div>
    </section>

    <section class="grid-row">
        <div class="grid-column column-half">
            <img alt="" src="/static/images/scam.png"/>
        </div>
        <div class="grid-column column-half">
            <h1>Reporting Fraud and Scams</h1>
            <p>
                You can report scam emails, calls, texts, and websites using the National Cyber Security Centre website.
            </p>
            <p>
                If you have been a victim of fraud, you should report it to Action Fraud using their online fraud
                reporting tool.
            </p>
            <a class="button button-primary primary-solid" href="https://www.actionfraud.police.uk/" target="_blank">
                Report fraud <span class="material-symbols-outlined">open_in_new</span></a>
            <a class="button button-secondary secondary-solid"
               href="https://www.ncsc.gov.uk/collection/phishing-scams/report-scam-email" target="_blank">
                Report a scam <span class="material-symbols-outlined">open_in_new</span></a>
        </div>
    </section>
{% endblock %}